@font-face {
    font-family: 'Jetbrains Mono';
    src: url('fonts/JetBrainsMono[wght].ttf') format('truetype-variations');
}
@font-face {
    font-family: 'Jetbrains Mono';
    src: url('fonts/JetBrainsMono-Italic[wght].ttf') format('truetype-variations');
}

*{
    font-family: 'Jetbrains Mono';
}