<nav class="nav" id="navigation">
    <ul class="nav__list">
        <button id="theme-button" type="button" style="margin-bottom: 15px;background:none;padding:0;border:none;cursor:pointer">
            <span id="theme-icon" class="material-symbols-outlined">
                dark_mode
            </span>
        </button>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
            <a {{ if or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Section .Identifier) }} class="active"
                {{end}} href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</nav>




<!-- USER IMPORTS -->
<script src="/js/darkreader/darkreader.js"></script>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- USER STYLING -->
<style>
    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 100,
            'GRAD' 200,
            'opsz' 48
    }
</style>

<!-- USER SCRIPTS -->
<script>
    var themeButton = document.getElementById('theme-button');

    window.addEventListener('load', function () {
        let theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            toggleTheme();
            themeButton.title = 'Toggle light mode';
        }else{
            themeButton.title = 'Toggle dark mode';
        }
    });

    themeButton.addEventListener('click', function () {
        toggleTheme();
    });

    function toggleTheme() {
        let icon = document.getElementById('theme-icon');
        DarkReader.setFetchMethod(window.fetch)
        if (DarkReader.isEnabled()) {
            DarkReader.disable()
            icon.innerText = 'dark_mode'
            themeButton.title = 'Toggle dark mode'
        } else {
            DarkReader.enable({
                brightness: 300,
                contrast: 100,
                sepia:10
            })
            icon.innerText = 'light_mode'
            themeButton.title = 'Toggle light mode'
        }
        localStorage.setItem('theme', DarkReader.isEnabled() ? 'dark' : 'light');
    }
</script>